@import 'fonts.css';
@import 'pygments.css';

.clear {
    clear: both;
}

/* For divs that contain only floats.  */
.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.box {
    border: 1px solid #f0f0f0;
    padding: 12px 12px;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 300%;
    margin-right: 24px;
}

.details {
    float: right;
    height: 100%;
}

pre {
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    font-weight: 400;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 100;
    letter-spacing: -0.02em;
    font-weight: 400;
}

pre > .doctest {
    border-left: 4px solid red;
}

#content {
    position: relative;
    width: 100%;
}

#module-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
}

#main {
    position: relative;
    margin-left: 250px;
    padding: 12px 12px;
}

.module-list {
    border-right: 1px solid #e0e0e0;
}

.module-list .heading {
    margin-bottom: 8px;
    font-size: 120%;
    font-weight: 800;
}

.module-list ul {
    list-style-type: none;
    margin: 14px;
    padding: 0;
}

.identifier {
    color: #d02020;
}

.module {
    color: #400040;
}

.path {
    font-weight: 100;
    text-decoration: underline;
}

.docs {
    margin: 0;
    line-height: 120%;
    font-weight: 400;
}

.docs .summary {
    margin: 24px 0;
    font-size: 125%;
    font-weight: 700;
}

.docs .body {
    margin-bottom: 48px;
}

.details {
    line-height: 180%;
}

.base-type-list {
    margin: 0;
    padding-left: 24px;
}

.mro-list {
    list-style: none;
    margin: 0;
    padding-left: 8px;
}

.mro-list li:before {
    content: "\2192  ";
}

.light {
    color: #404040;
    font-weight: 300;
}

ul.params {
    list-style: none;
    padding-left: 0;
    margin-left: 24px;
}

.params li {
    margin-bottom: 12px;
}

.bullet {
    width: 0;
    position: relative;
    bottom: -4px;
    display: inline-block;
    text-indent: -24px;
    color: #c0c0c0;
}

ul.exceptions {
    list-style: none;
    padding-left: 0;
    margin-left: 24px;
}

.exceptions li {
    margin-bottom: 12px;
}

.docs pre {
    margin-left: 24px;
}

.source {
    font-size: 85%;
    padding: 12px;
    background: #fefafa;
}

.doctest {
    margin-bottom: 16px;
    padding-left: 1.5em;
}

.doctest .prompt {
    color: #d0d0d0;
    font-weight: 400;
}

.doctest pre {
    margin: 2px;
}

.doctest .src {
    font-weight: 400;
}

.doctest .out {
    font-weight: 300;
}

.mini-icon {
    padding: 0 8px;
    border-radius: 4px;
    color: white;
    background: #c0c0c0;
    font-weight: 700;
}

.member {
    clear: both;
    margin: 2px 0 2px 30px;
    padding: 4px;
}

.member:hover {
    background: #f8f8f8;
}

.member .import {
    clear: right;
    float: right;
    margin-left: 24px;
}

.member .type {
    float: right;
    margin-left: 24px;
}

.member .repr {
}

.member .repr span {
    margin: 0 1ex;
}

.more {
    color: #a0a0a0;
    font-size: 80%;
    margin-left: 2ex;
}

.icon-login, .icon-logout {
    color: #c0c0c0;
    position: relative;
    bottom: -1px;
    height: 12px !important;  /* FIXME */
    width: 12px !important;
}

.iconbox {
    display: inline-block;
    width: 0;
    position: relative;
}

.member .import-icon {
    left: -28px;
}

.member .export-icon {
    left: -14px;
}

/*----------------------------------------------------------------------------*/

button.toggle {
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    border-radius: 0px;
    margin: 4px 0;
    padding: 8px;
}

button.toggle.toggled {
    background: #d02020;
}

button.toggle:focus {
    outline: none;
}

/*----------------------------------------------------------------------------*/

/* For Fontastic icons.  See demo.html.  */

[class^="icon-"], [class*=" icon-"] {
    height: 16px;
    width: 16px;
    display: inline-block;
    fill: currentColor;
}

