@import 'fonts.css';
@import 'pygments.css';

.clear {
    clear: both;
}

/* For divs that contain only floats.  */
.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

body {
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: 'Gill Sans', sans-serif;
    font-weight: 600;
}

.box {
    border: 1px solid #a0a0a0;
    padding: 12px 12px;
}

.name {
    font-family: 'Gill Sans', sans-serif;
    font-weight: 700;
    font-size: 300%;
    margin-right: 24px;
}

.details {
    float: right;
    height: 100%;
}

pre {
    font-family: 'Roboto Mono', monospace;
    font-size: 90%;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 94%;
    letter-spacing: -0.05em;
}

pre > .doctest {
    border-left: 4px solid red;
}

#content {
    position: relative;
    width: 100%;
}

#module-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
}

#main {
    position: relative;
    margin-left: 250px;
    padding: 12px 12px;
}

.module-list {
    border-right: 1px solid black;
}

.module-list .heading {
    margin-bottom: 8px;
    font-size: 120%;
    font-weight: 800;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.module-list ul {
    list-style-type: none;
    margin: 14px;
    padding: 0;
}

.identifier {
    color: #d02020;
}

.module {
    color: #400040;
}

.path {
    font-weight: 100;
    text-decoration: underline;
}

.docs {
    margin: 12px 0;
    line-height: 120%;
    color: #606060;
}

.summary {
    font-size: 125%;
    font-weight: 700;
}

.docs pre {
    margin-left: 24px;
}

.source {
    font-size: 85%;
    padding: 12px;
    background: #fefafa;
}

.doctest {
    margin-bottom: 16px;
    padding-left: 1.5em;
}

.doctest .prompt {
    color: #d0d0d0;
    font-weight: 400;
}

.doctest pre {
    margin: 2px;
}

.doctest .src {
    font-weight: 400;
}

.doctest .out {
    font-weight: 300;
}

.mini-icon {
    padding: 0 8px;
    border-radius: 4px;
    color: white;
    background: #c0c0c0;
    font-weight: 700;
}

.member {
    clear: both;
    margin: 8px 0;
    padding: 4px;
}

.member:hover {
    background: #f8f8f8;
}

.member .header {
}

.member .title {
    float: left;
}

.member .rest {
    clear: left;
    margin-left: 24px;
}

.member .import {
    clear: right;
    float: right;
    margin-left: 24px;
}

.member .type {
    float: right;
    margin-left: 24px;
}

.member .repr {
    float: left;
}

.member .repr span {
    margin: 0 1ex;
}

/*----------------------------------------------------------------------------*/

/* from: https://codepen.io/mallendeo/pen/eLIiG */

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 2.4em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}
.tgl-flat + .tgl-btn {
  padding: 2px;
  transition: all .2s ease;
  background: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
  transition: all .2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
  border: 2px solid #d02020;
}
.tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #d02020;
}
