.module {
    color: #307060;
    font-family: "Liberation Mono", Consolas, monospace;
    font-size: 90%;
    letter-spacing: -0.5px;
}

.filename {
    color: #505060;
    font-family: "Liberation Mono", Consolas, monospace;
    font-size: 90%;
    letter-spacing: -1px;
}

.identifier {
    color: #603070;
    font-family: "Liberation Mono", Consolas, monospace;
    font-size: 90%;
    letter-spacing: -0.5px;
}

.parameters {
    color: black;
    font-family: "Liberation Mono", Consolas, monospace;
    font-size: 90%;
    letter-spacing: -0.5px;
}

