.module {
    color: #305070;
    font-family: "Liberation Mono", Consolas, monospace;
    font-size: 90%;
    letter-spacing: -0.5px;
}

.filename {
    color: #405070;
    font-family: "Liberation Mono", Consolas, monospace;
    font-size: 90%;
    letter-spacing: -1px;
}

.identifier {
    color: #1060e0;
    font-family: "Liberation Mono", Consolas, monospace;
    font-size: 90%;
    letter-spacing: -0.5px;
}

.parameters {
    color: black;
    font-family: "Liberation Mono", Consolas, monospace;
    font-size: 90%;
    letter-spacing: -0.5px;
}

