<div class="container" ng-controller="ObjectController">
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="identifier title">{{obj.name}}</div>
      <div class="subtitle">
        class <span class="identifier">{{obj.qualname}}</span>
          in <span class="module">{{obj.module}}</span>
      </div>
    </div>
    <div class="panel-body" ng-show="obj.summary || obj.doc">
      <p class="lead">
        {{obj.summary}}
      </p>
      <p ng-repeat="par in obj.doc">{{par}}</p>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li><a class="active" href="#contents" data-toggle="tab">Contents</a></li>
    <li><a class="" href="#details" data-toggle="tab">Details</a></li>
    <li><a class="" href="#source" data-toggle="tab">Source</a></li>
  </ul>
  <br>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="contents">

      <div class="panel-group" id="contents-group">

        <bs-panel title="Classes">
          <dl>
            <dt class="dict-summary" ng-repeat-start="(name, obj) in getByType(obj, 'class')">
              <span class="identifier" ng-click="navigateTo(obj)">{{name}}</span>
            </dt>
            <dd class="dict-summary" ng-repeat-end>
              <span>{{obj.summary}}</span>
            </dd>
          </dl>
        </bs-panel>

        <bs-panel title="Methods">
          <dl>
            <dt class="dict-summary" ng-repeat-start="(name, obj) in getByType(obj, 'function')">
              <span class="identifier">{{name}}</span>
              <span class="parameters">{{formatParameters(obj.parameters)}}</span>
              <span ng-if="obj.module != getApi(fqname).module && inherited">
              defined in {{obj.module}} as {{obj.qualname}}
              </span>
            </dt>
            <dd class="dict-summary" ng-repeat-end>
              <span class="doc">{{obj.summary}}</span>
            </dd>
          </dl>
        </bs-panel>

        <bs-panel title="Members">
          <dl>
            <dt class="dict-summary" ng-repeat-start="(name, obj) in getByType(obj, 'value')">
              <span class="identifier">{{name}}</span>
              <span ng-if="obj.module != getApi(fqname).module && inherited">
              defined in {{obj.module}} as {{obj.qualname}}
              </span>
            </dt>
            <dd class="dict-summary" ng-repeat-end>
              <span class="doc">{{obj.summary}}</span>
            </dd>
          </dl>
        </bs-panel>

      </div>

    </div>

    <div class="tab-pane fade" id="details">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>from</dt>
            <dd><span class="filename">{{obj.path}}</span></dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="source">
      <pre><small>{{getSource()}}</small></pre>
    </div>

  </div>

</div>
