<div class="container" ng-controller="ObjectController">
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="module title">{{getLastPart(module.name)}}</div>
      <div class="subtitle">
        module 
        <span ng-show="getParent(moduleName)"><module>{{getParent(moduleName)}}</module>.</span>{{getLastPart(moduleName)}}
      </div>
    </div>
    <div class="panel-body" ng-show="module.summary || module.doc">
      <p class="lead summary">
        {{module.summary}}
      </p>
      <div class="apidoc">
        <div compile="module.doc"></div>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li><a class="active" href="#contents" data-toggle="tab">Contents</a></li>
    <li><a class="" href="#details" data-toggle="tab">Details</a></li>
    <li><a class="" href="#source" data-toggle="tab">Source</a></li>
  </ul>
  <br>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="contents">

      <div class="panel-group" id="contents-group">

        <bs-panel title="Submodules" collapsed="true" ng-show="getSubmoduleNames().length > 0">
          <dl>
            <dt class="dict-summary" ng-repeat-start="moduleName in getSubmoduleNames()">
              <module fullname="{{moduleName}}">{{getLastPart(moduleName)}}</module>
            </dt>
            <dd class="dict-summary" ng-repeat-end>
              <span>{{getApi(moduleName).summary}}</span>
            </dd>
          </dl>
        </bs-panel>

        <bs-panel title="Imports" collapsed="true">
          <table>
            <tr ng-repeat="(name, obj) in getImports()">
              <td class="dict-summary"><span class="identifier">{{name}}</span></td>
              <td class="dict-summary import">
                <span ng-if="obj.type != 'module'">
                  {{obj.type}} <span class="identifier">{{obj.name}}</span> in
                </span>
                module <module>{{obj.module || obj.name}}</module>
              </td>
            </tr>
          </table>
        </bs-panel>

        <bs-panel title="Classes">
          <dl>
            <dt class="dict-summary" ng-repeat-start="obj in get('class')">
              <class>{{obj.name}}</class>
            </dt>
            <dd class="dict-summary" ng-repeat-end>
              <span>{{obj.summary}}</span>
            </dd>
          </dl>
        </bs-panel>

        <bs-panel title="Functions">
          <dl>
            <dt class="dict-summary" ng-repeat-start="obj in get('function')">
              <function>{{obj.name}}</function><span class="parameters">{{formatParameters(obj.parameters)}}</span>
              <span ng-if="obj.module != getApi(moduleName).module && inherited">
              defined in {{obj.module}} as {{obj.qualname}}
              </span>
            </dt>
            <dd class="dict-summary" ng-repeat-end>
              <span class="doc">{{obj.summary}}</span>
            </dd>
          </dl>
        </bs-panel>

      </div>

    </div>

    <div class="tab-pane fade" id="details">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>from</dt>
            <dd><span class="filename">{{obj.path}}</span></dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="source">
      <pre><small>{{getSource()}}</small></pre>
    </div>

  </div>

</div>
