<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" ng-click="navigateToTop()">
        {{projectName || "APIDoc"}}
      </a>
    </div>
    <ul ng-repeat="parent in parents" class="nav navbar-nav nav-moduleName" ng-class="{first: $index == 0}">
      <li><a href="#" ng-click="navigateToModule(parent)">{{getLastPart(parent)}}</a></li>
    </ul>
    <ul class="nav navbar-nav">
      {{nav.modname}}
    </ul>
  </div>
</nav>
