<div class="container" ng-controller="ObjectController">
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="module title">{{obj.name}}</div>
      <div class="subtitle">
        {{obj.type}} {{obj.qualname}} in module <module>{{moduleName}}</module>
      </div>
    </div>
    <div class="panel-body" ng-show="obj.summary || obj.doc">
      <p class="lead">
        {{obj.summary}}
      </p>
      <div class="apidoc">
        <div compile="obj.doc"></div>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li><a class="active" href="#contents" data-toggle="tab">Contents</a></li>
    <li><a class="" href="#details" data-toggle="tab">Details</a></li>
    <li><a class="" href="#source" data-toggle="tab">Source</a></li>
  </ul>
  <br>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="contents">

      <div class="panel-group" id="contents-group">

        <label class="checkbox-inline" ng-show="obj.type == 'class'">
          <input type="checkbox" ng-model="inherited">Show Inherited
        </label>

        <bs-panel title="Classes" ng-if="get('class', false).length > 0">
          <dl>
            <dt class="dict-summary" ng-repeat-start="obj in get('class', false)">
              <class fullname="{{obj.qualname}}">{{obj.name}}</class>
            </dt>
            <dd class="dict-summary" ng-repeat-end>
              <span>{{obj.summary}}</span>
            </dd>
          </dl>
        </bs-panel>

        <bs-panel title="Functions" ng-if="get('function', false).length > 0">
          <dl>
            <dt class="dict-summary" ng-repeat-start="obj in get('function', false)">
              <ng-include src="'functionParameters'"></ng-include>
              <span ng-if="obj.module != getModule(moduleName).module && inherited">
                defined in {{obj.module}} as {{obj.qualname}}
              </span>
            </dt>
            <dd class="dict-summary" ng-repeat-end>
              <span class="doc"><span compile="obj.summary"></span></span>
            </dd>
          </dl>
        </bs-panel>

      </div>

    </div>

    <div class="tab-pane fade" id="details">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>from</dt>
            <dd><span class="filename">{{obj.path}}</span></dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="source">
      <pre><small>{{getSource()}}</small></pre>
    </div>

  </div>

</div>
