<div class="container" ng-controller="ObjectController">
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="module title">{{api.name}}</div>
      <div class="fqname-note">{{api.fqname}}</div>
    </div>
    <div class="panel-body">
      <p class="lead">
        {{api.summary}}
      </p>
      <p ng-repeat="par in api.doc">{{par}}</p>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li><a class="active" href="#contents" data-toggle="tab">Contents</a></li>
    <li><a class="" href="#details" data-toggle="tab">Details</a></li>
    <li><a class="" href="#source" data-toggle="tab">Source</a></li>
  </ul>
  <br>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="contents">

      <div class="panel-group" id="contents-group">

        <div class="panel panel-default" ng-show="submoduleNames.length > 0">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseSubmodules">
                Submodules
              </a>
            </h3>
          </div>
          <div id="collapseSubmodules" class="panel-collapse collapse">
            <div class="panel-body">
              <div ng-repeat="fqname in submoduleNames">
                <span class="module" ng-click="navigateTo(fqname)">{{getLastPart(fqname)}}</span>
                <span>{{getApi(fqname).summary}}</span>
              </div>
            </div>
          </div>                
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseImports">
                Imports
              </a>
            </h3>
          </div>
          <div id="collapseImports" class="panel-collapse collapse">
            <div class="panel-body">
              <div ng-repeat="(name, obj) in getByType('module')">
                <span class="module">{{name}}</span>
                = <span class="module" ng-click="getApi(obj.fqname) ? navigateTo(obj.fqname) : null">{{obj.fqname}}</span>
              </div>
            </div>
          </div>                
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" href="#collapseClasses">
                Classes
              </a>
            </h3>
          </div>
          <div id="collapseClasses" class="panel-collapse collapse in">
            <div class="panel-body">
              <div ng-repeat="(name, obj) in getByType('class')">
                <span class="identifier">{{name}}</span>
                <span>{{obj.summary}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" href="#collapseFunctions">
                Functions
              </a>
            </h3>
          </div>
          <div id="collapseFunctions" class="panel-collapse collapse in">
            <div class="panel-body">
              <div ng-repeat="(name, obj) in getByType('function')">
                <span class="identifier">{{name}}</span><span class="parameters">{{formatParameters(obj.parameters)}}</span>
                <span>[<span class="doc">{{obj.summary}}</span>]</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="details">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>from</dt>
            <dd><span class="filename">{{obj.path}}</span></dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="source">
      <pre><small>{{getSource()}}</small></pre>
    </div>

  </div>

</div>
